In [19]:
import pandas as pd

data_df = pd.read_json('data/scraped_apartments.json')
dolar_price = 320

def to_pesos(row):
    if row['price_currency'] == 'U$S':
        value = row['price'] * dolar_price
    else:
        value = row['price']
    return value

data_df = data_df.drop(0)
data_df['count'] = 1
data_df['price_pesos'] = data_df.apply(to_pesos, axis=1)
data_df['price_pesos_plus_expenses'] = data_df.price_pesos + data_df.expenses
data_df['price_plus_expenses_USD'] = data_df.price_pesos_plus_expenses / dolar_price
data_df['m2'] = data_df.price_pesos_plus_expenses / data_df.total_covered
data_df['price_plus_expenses_USD_m2'] = data_df.price_plus_expenses_USD / data_df.total_covered

data_df.type_tx = data_df.type_tx.str.replace('Departamento en', '')
data_df

,id,name,date,type_tx,zone,price,price_currency,aviable,expenses,currency_expenses,...,bathrooms,mascots,antiquity,orientation,count,price_pesos,price_pesos_plus_expenses,price_plus_expenses_USD,m2,price_plus_expenses_USD_m2
1,1262696226,"Cachimayo Al 100, Caballito, Capital Federal, ...",Publicado hace 6 días,Alquiler,Caballito,52000,$,NaN,9000.0,$,...,1,False,50.0,Oeste,1,52000,61000.0,190.625000,1967.741935,6.149194
2,1136562538,"Arce 700 1º B, Belgrano, Capital Federal, Capi...",Publicado hace 6 meses,Alquiler,Belgrano,110000,$,NaN,16000.0,$,...,1,False,20.0,None,1,110000,126000.0,393.750000,2739.130435,8.559783
3,1255315073,"Cuba 3100 7°, Núñez, Capital Federal, Capital ...",Publicado hace 3 meses,Alquiler,Núñez,80000,$,NaN,6431.0,$,...,1,False,50.0,Norte,1,80000,86431.0,270.096875,2274.500000,7.107813
4,1137105405,"Puerto Madero, Puerto Madero, Capital Federal,...",Publicado hace 6 meses,Alquiler,Puerto Madero,1000,U$S,NaN,0.0,U$S,...,1,False,0.0,None,1,320000,320000.0,1000.000000,inf,inf
5,1194498050,Bajamos El Precio!!!!! Alquiler Monoambiente S...,Publicado hace 51 días,Alquiler,Recoleta,60000,$,NaN,4000.0,$,...,1,False,50.0,None,1,60000,64000.0,200.000000,2560.000000,8.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1954,1233459365,Departamento 3 Ambientes Con Gran Patio En Alq...,Publicado hace 25 días,Alquiler,Núñez,127000,$,NaN,12000.0,$,...,1,False,40.0,None,1,127000,139000.0,434.375000,2527.272727,7.897727
1955,1124583571,Depto En Alquiler: 2 Amb. Muy Lum. Placard En ...,Publicado hace 9 meses,Alquiler,Villa Devoto,60000,$,NaN,7500.0,$,...,1,False,40.0,None,1,60000,67500.0,210.937500,1928.571429,6.026786
1956,1246882487,Departamento - Almagro,Publicado hace 18 días por Goldstein Propiedades,Alquiler,Almagro,60000,$,NaN,8000.0,$,...,1,False,45.0,None,1,60000,68000.0,212.500000,2266.666667,7.083333
1957,1181853382,Alq Depto Monoambiente En Excelente Estado Con...,Publicado hace 2 meses,Alquiler,Caballito,55000,$,NaN,8100.0,$,...,1,No,15.0,Sur,1,55000,63100.0,197.187500,1802.857143,5.633929
1958,1249913980,Hermoso Depto. 3 Ambientes Muy Luminoso En Boedo,Publicado hace 17 días,Alquiler,Boedo,85000,$,NaN,7000.0,$,...,1,False,NaN,None,1,85000,92000.0,287.500000,1967.914439,6.149733

In [ ]:

colums = [
    'id',
    'name',
    'date',
    'type_tx',
    'zone',
    'price',
    'price_currency',
    'aviable',
    'expenses',
    'currency_expenses',
    'total_surface',
    'total_covered',
    'ambients',
    'bedrooms',
    'bathrooms',
    'mascots',
    'antiquity',
    'orientation'
]