In [36]:
import pandas as pd

data_df = pd.read_json('data/scraped_apartments.json')
dolar_price = 320

def to_pesos(row):
    if row['price_currency'] == 'U$S':
        value = row['price'] * dolar_price
    else:
        value = row['price']
    return value

data_df['count'] = 1
data_df['price_pesos'] = data_df.apply(to_pesos, axis=1)
data_df['price_pesos_plus_expenses'] = data_df.price_pesos + data_df.expenses
data_df['m2'] = data_df.price_pesos_plus_expenses / data_df.total_covered
data_df['price_plus_expenses_USD'] = data_df.price_pesos_plus_expenses / dolar_price
data_df['price_plus_expenses_USD_m2'] = data_df.price_plus_expenses_USD / data_df.total_covered

MEAN = data_df.groupby('zone').median().sort_values(by='Price_Plus_Expenses_USD_m2', ascending=False)
MEAN

,id,price,aviable,expenses,total_surface,total_covered,ambients,bedrooms,bathrooms,antiquity,Prices_Pesos,Price_Plus_Expenses,Count,m2,Price_Plus_Expenses_USD,Price_Plus_Expenses_USD_m2
zone,,,,,,,,,,,,,,,,
Puerto Madero,1.154184e+09,3000.0,NaN,17500.0,137.0,120.0,3.0,2.0,2.0,9.0,960000.0,1089000.0,1.0,7642.857143,3403.125000,23.883929
Belgrano Chico,1.145564e+09,6000.0,NaN,70000.0,230.0,215.0,4.0,3.0,3.0,4.0,1760000.0,1850000.0,1.0,7470.000000,5781.250000,23.343750
Belgrano Barrancas,1.154882e+09,3750.0,NaN,70000.0,203.5,191.5,5.0,3.0,2.0,13.5,880000.0,1230295.0,1.0,5603.571429,3844.671875,17.511161
Palermo Chico,1.223339e+09,2300.0,NaN,32000.0,134.5,116.5,4.0,3.0,2.0,17.0,608000.0,674640.0,1.0,5333.336364,2108.250000,16.666676
Palermo Hollywood,1.206643e+09,1200.0,NaN,24000.0,75.0,57.0,2.0,1.0,1.0,5.0,320000.0,340000.0,1.0,5307.692308,1062.500000,16.586538
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Floresta,1.231955e+09,73000.0,NaN,10000.0,48.0,45.0,2.0,1.0,1.0,35.0,73000.0,83700.0,1.0,1596.491228,261.562500,4.989035
Versalles,1.249723e+09,77500.0,NaN,11000.0,72.5,62.5,3.0,2.0,1.0,35.0,77500.0,81900.0,1.0,1436.842105,255.937500,4.490132
Velez Sarsfield,1.202662e+09,89000.0,NaN,16000.0,69.3,65.0,3.0,2.0,1.0,50.0,89000.0,94000.0,1.0,1236.476043,293.750000,3.863988
Villa Lugano,1.229494e+09,55000.0,NaN,5250.0,55.0,50.0,3.0,2.0,1.0,35.0,55000.0,66750.0,1.0,1183.777429,208.593750,3.699304
Nueva Pompeya,1.226003e+09,70000.0,NaN,NaN,47.0,41.0,3.0,2.0,1.0,0.0,70000.0,NaN,1.0,NaN,NaN,NaN

In [ ]:

colums = [
    'id',
    'name',
    'date',
    'type_tx',
    'zone',
    'price',
    'price_currency',
    'aviable',
    'expenses',
    'currency_expenses',
    'total_surface',
    'total_covered',
    'ambients',
    'bedrooms',
    'bathrooms',
    'mascots',
    'antiquity',
    'orientation'
]